@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

h1 {
  display: block;
  font-size: 20px;
  color: #0d2647;  
}

h2 {
  display: block;
  font-size: 130%;
  font-weight: bold;
  margin: 0px;
  padding-left: 3px;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(20, 40, 75);
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
  color: black;
}

header {
  height: 75px;
  width: auto;
  background-image: url('./images/header-background.jpg');
  color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(27, 27, 27); 
}

header .results{
  background-color: rgba(0, 0, 0, 0.6);
  background-image: none;
  border-color: rgba(233, 233, 233, 0.356);
  text-align: center;
}

.logo {
  margin-top: 12px;
  height: 55px;
}

/* Start of the first container code */

.block-1-bcg {
  /* Set the background of the first container */
  background-image: url('https://beluga.eng.br/fundo5.jpg');
  background-repeat: no-repeat;
}

.title-city-name {
  white-space: nowrap;
}

.block-1 {
  background-image: linear-gradient(
    rgba(7, 12, 25, 0.6),
    rgba(7, 12, 25, 0.75)
  );
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.521);
  color: white;
  margin-bottom: 10px;
}

.block-1-child-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.block-1-child-title {
  margin: auto;
  text-align: center;
  margin-bottom: 13px;
  font-size: 20px;
  color: white;
}

.block-1-child-container-item {
  font-weight: 600;
  color: rgb(220, 220, 220);
}

.block-1-child-system-info {
  width: fit-content;
}

.block-1-child-price {
  padding-left: 3px;
  font-size: 170%;
  font-weight: bold;
  color: white;
}

.block-1-child-price-detail {
  font-size: 15px;
  font-weight: bold;
}

.block-1-child-economy-data {
  margin-top: 5px;
  display: inline-flex;
  flex-flow: row wrap;
  min-height: 90px;
}

.block-1-child-subtitle {
  background-color: none;
  font-size: 15px;
  margin-right: 35px;
}

.block-1-child-economy-data-note {
  margin: auto;
  width: 60%;
  min-width: 330px;
  font-size: 13px;
}

/* Start of the graphic's code */
@keyframes bar-animation {
  /* The graphic animation code */
  from {
    height: 0%;
    opacity: 0%;
  }
}

.block-1-graphic {
  display: grid;
  grid-template-columns: repeat(12, 8.35%);
  align-items: end;
  height: 210px;
  width: 100%;
}

.block-1-graphic-bar {
  width: 73%;
  margin-left: 10%;
  background-image: linear-gradient(
    rgba(250, 250, 250, 0.79),
    rgba(255, 255, 255, 1)
  );
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
  border-top-color: rgba(230, 230, 255, 0.2);
  border-width: 1px;
  animation-name: bar-animation;
  animation-duration: 2s;
}

.block-1-graphic-bar-value {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  color: rgb(10, 10, 20, 0.8);
  letter-spacing: 1px;
  writing-mode: vertical-rl;
}

.block-1-graphic-under-block {
  display: grid;
  grid-template-columns: repeat(12, 8.35%);
  align-items: end;
  width: 100%;
}

.block-1-graphic-under-text {
  width: 100%;
  text-align: center;
  animation-name: text-month-animation;
  animation-duration: 2s;
}
/* End of the graphic's code */
/* End of the first container code */

/* Start of the second container code */
.block-2 {
  margin: 0 auto;
  padding-top: 5px;
}

.block-2-child-container {
  max-width: 900px;
  margin: 0 auto;
  font-size: 15px;
  text-align: left;
}

.block-2-form {
  color: black;
}

.block-2-form-input-box {
  padding-top: 9px;
  padding-right: 6px;
  padding-left: 6px;
  margin: auto;
}

.block-2-form-input {
  display: grid;
  grid-template-columns: repeat(3, 300px);
}


.block-2-form-input-txt {
  height: 30px;
  width: 285px;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 195, 195);
}

.block-2-form-btn-out {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

button {
  height: 28px;
  width: 85px;
  font-size: 15px;
  color: white;
  background-color: rgb(2, 110, 160);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 100, 150);
  border-radius: 3px;
}

button:hover {
  background-color: rgb(12, 120, 170);
  border-color: rgb(10, 110, 160);
}
/* End of the second container code */

/* Start of the third container code */
.block-3 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.block-3-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3px;
  padding-bottom: 10px;
}

.block-3-boxes-child {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}

.block-3-boxes-child-img {
  width: 70px;
}
/* End of the second container code */

/* Start of the fourth container code */
.block-4 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 3px;
  font-size: 15px;
}

.block-4-img {
  margin: auto;
  width: 100%;
  height: 260px;
  background: url('https://www.beluga.eng.br/img1.jpeg') no-repeat 50% 80%;
  border-style: solid;
  border-width: 1px;
  border-color: #bebebe;
  margin-bottom: 15px;
}

/* End of the second container code */

.footer {
  background-color: rgb(245, 245, 245);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #556685af;
  color: #2e384b;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 90px;
}

/* Start of the code for mobile*/
@media only screen and (max-width: 805px) {
  h1 {
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
  }

  p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
  }

  .hidden-on-mobile {
    /* Hide elements that shouldn't be visible on mobile*/
    display: none;
  }

  body {
    font-size: 16px;
  }

  header {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo {
    margin-top: 14px;
    height: 35px;
  }

  .block-1-child-system-info {
    padding-left: 5px;
  }

  .block-1-child-economy-data {
    padding-left: 5px;
  }

  .block-1-child-price {
    font-size: 135%;
  }

  .block-1-graphic {
    height: 125px;
    margin-top: 7px;
  }

  .block-1-graphic-under-block {
    width: 99%;
  }

  .block-1-graphic-under-text {
    writing-mode: vertical-rl;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 99%;
    padding-top: 5px;
    padding-left: 10%;
  }

  .block-2-form-input {
    grid-template-columns: 1fr;
  }

  .block-2-form-input-box {
    width: 90%;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .block-2-form-input-txt {
    width: 100%;
  }

  button {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 28px;
    width: 80px;
    border-width: 0px;
  }

  .block-3-boxes {
    grid-template-columns: 1fr;
  }
}

  .block-3-boxes-child-img {
    width: 50px;
  }

footer {
  background-color: white;
  color: #2e384b;
  text-align: center;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 30px;
}
