h1 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: #2e384b;
  }

body {
  background-color: white;
  width: 100%;
  text-align: center;
  color: black;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

header {
  height: 85px;
  width: 100%;
  background-image: url('./images/header-background.jpg');
  color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(27, 27, 27);
}

.logo {
  margin-top: 14px;
  height: 60px;
}

.partner-info {
  margin-top: 50px;
  color: #0d2647;
  font-weight: bold;
}

.form {
  margin: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 66%;
  min-width: 290px;
}
.input-field,
.select-field {
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(185, 200, 185);
  border-radius: 3px;
  outline: none;
  margin-bottom: 5px;
}

.input-field {
  height: 27px;
  width: 65%;
  min-width: 280px;
}

.input-field:focus {
  border-width: 1px;
  border-color: #026e9f;
}

.select-field {
  width: 65%;
  min-width: 285px;
  height: 32px;
}

.select-field:focus {
  border-width: 1px;
  border-color: #026e9f;
}

.input-subscribe {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 28px;
  width: 85px;
  color: white;
  background-color: rgb(2, 110, 160);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 100, 150);
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(12, 120, 170);
  border-color: rgb(10, 110, 160);
}

@media only screen and (max-width: 805px) {
  .top-text {
    text-align: left;
  }
  .hide-mobile {
    display: none;
  }
}
